@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, p  {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100svh;
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1, h2 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --ligher-violet: #A775F1;
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --barlow-semi-condensed: 'Barlow Semi Condensed', sans-serif;
  --paragraph-font-size: 0.8125rem;
  --font-weight-500: 500;
  --font-weight-600: 600;
}

body {
  font-family: var(--barlow-semi-condensed);
  font-size: var(--paragraph-font-size);
  font-weight: var(--font-weight-500);
  background-color: var(--light-grayish-blue);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem 2rem;;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.profile p {
  margin: -0.125rem;
}

.profile-image {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  outline: 2px solid;
}

.name {
  font-weight: var(--font-weight-600);
  font-size: 0.8125rem;
}

.title {
  opacity: 0.5;
  font-size: 0.7rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.25;
  opacity: 0.85;
  color: var(--white);
}

.review-paragraph {
  opacity: 0.7;
  font-size: 0.875rem;
  line-height: 1.375;
}

#daniel {
  background-color: var(--moderate-violet);
  color: var(--light-gray);
}

#daniel .profile-image, #patrick .profile-image {
  outline-color: var(--ligher-violet);
}

#jonathan {
  background-color: var(--very-dark-grayish-blue);
  color: var(--light-gray);
}

#jeanette, #kira {
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
}

#jeanette h2, #kira h2 {
  color: var(--very-dark-grayish-blue);
  opacity: 1;
}

#jonathan .profile-image, #jeanette .profile-image, #kira .profile-image {
  outline: none;
}

#patrick {
  background-color: var(--very-dark-blackish-blue);
  color: var(--light-gray);
}

.quotation-mark {
  position: absolute;
  top: 0;
  right: 1.5rem;
  z-index: 0;
}